@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Here is the link to my podcasts:</h3>
<a href ="https://baconsale.com/">https://baconsale.com</a>